.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}

.dialogsItems {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   border-right: 2px solid;
   cursor:pointer;
}

.messages {
   margin: 10px;
}

.sendMessageForm {
   display: flex;
}

.sendMessageForm div input {
   width: 15em;
   height: 25px;
   border-radius: 5px;
}

.sendMessageButton {
   width: 5em;
   text-align: center;
   color: #fff;
   background: #2f353d;
   border-radius: 6px;
   padding: 5px;
   transition: .3s ease;
   cursor: pointer;
}