.header {
   grid-area: header;
   background: #000;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: #F1F5F9 1px solid;
   padding: 0 20px;
}

.header_logo img {
   width: 20px;
   background: aqua;
}

.header_userName a {
   color: #FFFFFF;
   text-decoration: none;
}

.header_logout {
   margin-right: 5px;
   display: flex;
   width: 180px;
   cursor: pointer;
   justify-content: flex-end;
}

.header_logout_btn {
   margin-left: 10px;
}