

.dialog {
   padding: 5px;
}

.dialog:hover {
   background: #E4E7EB;
   transition: 0.3s;
}

.dialog .active {
   color:#F1F5F9;
}

.name{
   margin-left: 20px;
   color:#2f353d;
   text-decoration: none;
   white-space: nowrap;
}



