.app-wrapper {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 100px 5fr 5fr;
  grid-template-rows: 400px 10fr;
  grid-template: 
  'header header header'
  'nav content content';
}

